<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ananops.provider.mapper.RdcSceneDeviceMapper" >
    <resultMap id="BaseResultMap" type="com.ananops.provider.model.domain.RdcSceneDevice" >
        <!--
          WARNING - @mbg.generated
        -->
        <result column="scene_id" property="sceneId" jdbcType="BIGINT" />
        <result column="device_id" property="deviceId" jdbcType="BIGINT" />
        <result column="longitude" property="longitude" jdbcType="DECIMAL" />
        <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    </resultMap>

    <resultMap id="DeviceResultMap" type="com.ananops.provider.model.dto.RdcSceneDeviceWithCreator" >
        <!--
          WARNING - @mbg.generated
        -->
        <result column="creator_id" property="userId" jdbcType="BIGINT" />
        <result column="scene_id" property="sceneId" jdbcType="BIGINT" />
        <result column="device_id" property="deviceId" jdbcType="BIGINT" />
        <result column="longitude" property="longitude" jdbcType="DECIMAL" />
        <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    </resultMap>

<!--    删除场景中绑定的设备-->
    <delete id="deleteBindedDevice">
        DELETE FROM
        an_rdc_scene_device as sd
        WHERE 1=1
        AND sd.scene_id=#{sceneId}
        AND sd.device_id=#{deviceId}
    </delete>

<!--    查询报警的设备-->
    <select id="getSceneDevice" resultMap="DeviceResultMap">
        SELECT device.creator_id,rs.scene_id,rs.device_id,rs.longitude,rs.latitude
        FROM an_rdc_scene_device as rs,an_rdc_device as device
        WHERE 1=1
        AND device.device_id = #{deviceId}
        AND device.id = rs.device_id
    </select>
</mapper>